<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>NPM</th>
          <th>DOB</th>
        </tr>
      </thead>
      <tbody>
        {% for note in notes %}
        <tr>
            <td> To: {{note.to}} </td>
            <td> From: {{note.fromx}} </td>
            <td> Title: {{note.title}} </td>
            <td> Message: {{note.message}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>