<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Pesan Pesan Yang Telah Masuk</h1>
    {% for note in notes %}
    <form>
    <table border="1" cellpadding="10">
    <tr>
        <th rowspan="1" bgcolor="#FFEBCD"><font face="Courier New"><font color="blue">PESAN</font></font></th>

    </tr>
    <tr>
        <td bgcolor="#00FFFF"><font face="Courier New"><font color="#FF69B4">To: {{note.to}}</font></font></td>
    </tr>
    <tr>
        <td bgcolor="#oofb80"><font face="Courier New"><font color="#4B0082">From: {{note.fromx}}</font></font></td>
    </tr>
    <tr>
        <td bgcolor="#F0FFFF"><font face="Courier New"><font color="#1E90FF">Title: {{note.title}}</font></font></td>
    </tr>
    <tr>
        <td bgcolor="#7FFFD4"><font face="Courier New"><font color="#FF00FF">Message: {{note.message}}</font></font></td>
    </tr>
    </table>
    </form>
    {% endfor %}
</body>
</html>