<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <td><input type="submit"></td>
        </form>
        </tr>
    </table>
</body>
</html>