<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% for note in notes %}
    <tr>
        <td> To: {{note.to}} </td>
        <td> From: {{note.fromx}} </td>
        <td> Title: {{note.title}} </td>
        <td> Message: {{note.message}} </td>
    </tr>
    {% endfor %}
</body>
</html>